<app-navigator></app-navigator>

<br><br>

<section class="books_page">


    <h1 id="books">
        Books
    </h1>
    <!-- <div class="search">
        <form class="search-box">
            <input type="text" placeholder=" Search Books " />
            <button type="reset"></button>
        </form>
    </div> -->


</section>

<section>
    <div class="col">
        <div class="row1">
            <div class=" b" *ngFor='let BookCollection of BookCollections'>
                <a style="cursor:pointer" (click)="getBook(BookCollection._id)">
                    <!-- routerLink="/books/{{BookCollection._id}}" -->
                    <img src="{{BookCollection.image}}">
                    <br>
                    <span class="book_name">
                        {{BookCollection.title}}<br>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- --------------------------------footer------------------- -->
<app-footer></app-footer>
