<footer class="footer">
    <div class="text-center p-5" style="background-color: #1e1d1d;">
        <section class="" style="padding-bottom:0 ;">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong style="color:white ;">Sign up for our newsletter</strong>
                  </p>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example2" placeholder="Email Address" class="form-control" />
                  </div>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-primary mb-4 text-dark">
                    Subscribe
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section> 
       Copyright © 2022
      <a class="text-light">Library App</a>
    </div>
  </footer>